<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="prackticka.Properties.Settings.prack1ConnectionString"
            connectionString="Data Source=DESKTOP-8677R38;Initial Catalog=prack1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="prackticka.Properties.Settings.biblConnectionString"
            connectionString="Data Source=DESKTOP-8677R38;Initial Catalog=bibl;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>